html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#header {
    height: 15%;
    min-height: 100px;
    padding: 20px;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    font-size: 40px; 
    font-family: 'Mada', sans-serif; 
    text-align: center;
}

ul {
    height: 100%;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
}

li {
    position: relative;
}

li span {
    position: absolute;
    top: 50%;
    left: 50;
    transform: translate(-50%, -50%);
}

.content-box {
    height: 17%;
    min-height: 100px;
    width: 48%;
    min-width: 150px;
    margin-left: 1%;
    margin-top: 2%;
    background-color: green;
    display: inline-block;
    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#about-me {
    width: 98%;
}
